[Unit]
Description=Optimus Manager Commands Daemon
Before=display-manager.service

[Service]
ExecStartPre=/usr/bin/python -u /usr/bin/optimus-manager-setup --setup-boot
ExecStart=/usr/bin/python -u /usr/bin/optimus-manager-daemon

[Install]
WantedBy=graphical.target

 
